
html {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    
}
.home{
	height: 60vh;
	overflow:hidden;
	position: relative;
}
@media (min-width: 1000px) {
	.home{
        height: 100vh;
	    overflow:hidden;
        position: relative;
    }
}
.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	
}

.home .container{
	 flex-grow: 1;
}
.home .caption{
	width:50%;
}
.home .caption h1{
	font-size:42px;
	color:#000000;
	margin:0;
	
}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#222222;
}
.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#FF5722;
 background-color: #ffff;
 text-align: center;
 line-height: 40px;
 font-size:40px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
    background-color:#FF5722;
    color: #fff;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#FF5722;
	background-color: #ffff;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #FF5722;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}
.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin: 0;
    justify-content: center;
}
@media (min-width: 1000px) {
    .slider{
      width: 100%;
      text-align: center;
      overflow: hidden;
      top: 50%;
      left: 50%;
      margin: 0;
      justify-content: center;
      padding-left: 115px;

    }
}
 
.box{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px,-50px);
    width: 100px;
    height: 100px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    box-sizing: border-box;
    transition: 0.5s;
}
.box h1{
    margin: 0;
    padding: 0;
    color: black;
    top: 50%;
    transform: rotateY(-50%);
}
.heading-stroke{
    display:inline-block;
    position:relative;
    letter-spacing:.025em;
    font-size:70px;
}
@media (min-width : 700px){
    .heading-stroke{
        display:inline-block;
        position:relative;
        letter-spacing:.025em;
        font-size: 50px;
    }
}
.heading-stroke:after{
    content:attr(data-title);
    text-transform:uppercase;
    position:absolute;
    top:5px;
    left:5px;
    z-index:-1;
    width:calc(100% + 5px);color:rgba(0,0,0,.7);text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
}
.heading-stroke{
    position:relative;
    display:inline-block;
    z-index:1;
    letter-spacing:.025em
}
.section__title .heading-stroke:after{
    content:attr(data-title);
    text-transform:uppercase;
    position:absolute;
    top:3px;
    left:3px;
    width:calc(100% + 5px);
    color:#fff;
    text-shadow:-1px -1px 0 #353437,1px -1px 0 #353437,-1px 1px 0 #353437,1px 1px 0 #353437
}
.section__title.section__title--inverse{
    color:#fff
}
.section__title.section__title--inverse .heading-stroke:after{
    top:5px;
    left:5px;
    width:100%;
    color:rgba(0,0,0,.7);text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
}
.section__heading{
    margin-bottom:30px;
    text-align:center
}
.section__heading+p{
    font-size:.75rem
}
@media (min-width:992px){
    .section__heading+p{
        font-size:.85rem
    }
}
@media (min-width:1200px){
    .section__heading+p{
        font-size:1rem
    }
}
.section__title{
    color:#353437;
    font-family:Gotham,sans-serif;
    font-size:1.75rem;
    margin-bottom:.5rem;
    line-height:1.1;
    font-weight:900
}
@media (min-width:768px){
    .section__title{
        font-size:2.25rem
    }
}
@media (min-width:992px){
    .section__title{
        font-size:3rem
    }
}
.section__title .heading-stroke{
    position:relative;
    display:inline-block;
    z-index:1;
    letter-spacing:.025em
}.section__title .heading-stroke:after{
    content:attr(data-title);
    text-transform:uppercase;
    position:absolute;
    top:3px;
    left:3px;
    width:calc(100% + 5px);
    color:#fff;
    text-shadow:-1px -1px 0 #353437,1px -1px 0 #353437,-1px 1px 0 #353437,1px 1px 0 #353437
}
.section__title.section__title--inverse{
    color:#fff
}
.section__title.section__title--inverse .heading-stroke:after{
    top:5px;
    left:5px;
    width:100%;
    color:rgba(0,0,0,.7);
    text-shadow:-1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff
}
.section__title~.section__subtitle{
    margin-bottom:0
}
.section__title+p{
    font-size:.8rem
}
@media (min-width:768px){
    .section__title+p{
        font-size:.9rem
    }
}
@media (min-width:992px){
    .section__title+p{
        font-size:1rem
    }
}
.section__hero{
    background-repeat:no-repeat;
    background-position:top;
    background-size:cover;
    display:flex;
    align-items:center;
    text-align:center;
    color:#fff
}
.section__hero-content{
    max-width:800px;
    margin:0 auto
}
.section__hero-content .ico{
    margin-right:.7em;
    margin-bottom:.2em
}
.section__hero-content .mli-btn{
    margin-top:1em
}
.section__hero-content .mli-btn .ico{
    width:1.4em;
    height:1.4em;
    margin-left:.5em;
    margin-right:-.5em;
    margin-top:-.2em
}
.section--we-are{
    padding:0;
    position:relative
}
.section--we-are .section__heading{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    top:3rem
}
.section--we-are .we-are__col{
    background-size:cover;
    background-repeat:no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:8rem 1.5rem 5rem;
    color:#fff;font-family:Gotham,sans-serif;
    letter-spacing:.009em
}
.section--we-are .we-are__logo{
    margin-bottom:1rem
}
.about{
    width: 50%;
    color: #000;
    text-align: center;
    padding: 50px;
    left: 50%;
    margin: auto;
}
.contain {
    position: relative;
    width: 80%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 
  
.image {
    opacity: 1;
    display: block;
    width: 20%;
    height: 70%;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.contain:hover .image {
    opacity: 0.3;
}
  
.contain:hover .middle {
    opacity: 1;
}
  
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
} 
  
.grid {
    display: grid;
    width: 100em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    padding-left: 78px;
}
  
.grid-item {
    width: 90%;
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}
  
.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
  
.card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}
.card-img:hover{
    opacity: 0.3;
  }
  
.card-content {
    padding: 3rem;
}
  
.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}
  
.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}
  
.card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
  
.card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}
  
.card-btn:hover,
.card-btn:active {
    background-color: #c2cffc;
}
  
.card-btn:hover span,
.card-btn:active span {
    margin-left: 1.5rem;
}
  
@media only screen and (max-width: 60em) {
    body {
      padding: 3rem;
    }
  
    .grid {
      grid-gap: 3rem;
    }
}
@media (max-width:700px){
    .grid{
        display: flex;
    }
}
@media (min-width:290px){
    .row{
        display: flex;
    }
    .grid {
        padding-left: 70px;
        align-items: 80px;
    }
}
.footer {
    padding: 0;
    margin: 0;
    background:#388BAF;;
    position: relative;
    z-index: 1;
}
  
  
.inner-footer {
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    z-index: 1;
}
  
.footer-items {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1;
}
  
h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
  
.footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
.footer-bottom {
    padding: 10px;
    background:#388BAF;;
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
* {
    box-sizing: border-box;
}
  
.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}
@media only screen and (max-width: 600px) {
    .col { 
      display: block;
      width: 100%;
    }
}
.team-section{
	min-height: 100vh;
	padding:70px 15px 30px;
}

.konten{
	max-width: 1170px;
	margin:auto;
}

.kolom{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:#388BAF;;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
    width: 32px;
    padding-top: 8px;
	background-color: #ffffff;
	color:#388BAF;;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}
